# Virtual Environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# IDE Files
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db